.thumbnail {
  display: block;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0px 0px;
}

.meta-list {
  list-style: none;
  display: block;
  padding: 10px 20px;
  font-size: 18px;
}

.meta-list li span.heading {
  font-weight: bold;
}

.pizza-card {
  border-radius: 15px;
}

.pizza-card .ant-card-body {
  padding: 0px;
  border-radius: 5px;
}

.order-button {
  background-color: #DF3636;
  margin: 20px;
  width: calc(100% - 40px);
  border: none;
  box-sizing: border-box;
  color: #fff;
}